li a {
    color: green;
}

h1 {
    color:black
}

body {
    background: white url("../images/background.jpg") 50% 0 no-repeat;
    height: 650px;
    padding: 100px 0 0 0; 
    background-size: cover;
     
}